{% extends "base.html" %}

{% block head %}
<style>
div.loading-indicator {
	display: none;
}
div.htmx-request.loading-indicator {
	display: inline;
}

button.loading-indicator {
	display: inline;
}
button.htmx-request.loading-indicator {
	display: none;
}
</style>
{% endblock %}

{% block content %}

<form hx-get="/new_teams"
	hx-target="#game" 
	hx-swap="outerHTML" 
	hx-params="team_url" 
	hx-indicator=".loading-indicator">

	<input type="text" 
		name="team_url" 
		value="https://www.primeleague.gg/de/leagues/prm/3181-spring-split-202425/teams/206205-melo-honigmelonen"
		style="width: 100%; margin-bottom: 0.5rem"
	/>
	<br />
	<button type="submit" class="loading-indicator">
		get team page
	</button>
</form>


<div id="game" style="margin: 0.5rem">
	get_all_matches
	<div id="loading-indicator" class="loading-indicator">
	    Loading...
	</div>
</div>

{% endblock %}
