<!-- <tr id="team-{{ team.name }}"> -->
<!-- 	<td> {{ team.name }} </td> -->
<!-- 	<td> {{ team.link }} </td> -->
<!-- </tr> -->

{% for player in players %}
{% include "player.html" %}
{% endfor %}

<!-- <div id="team-container"> -->
<!-- 	<table> -->
<!-- 		<!-- <thead> --> -->
<!-- 		<!-- 	<tr> --> -->
<!-- 		<!-- 		<th>ID</th> --> -->
<!-- 		<!-- 		<th>Name</th> --> -->
<!-- 		<!-- 	</tr> --> -->
<!-- 		<!-- </thead> --> -->
<!-- 		<tbody id="player-content"> -->
<!-- 			{% for player in players %} -->
<!-- 			{% include "player.html" %} -->
<!-- 			{% endfor %} -->
<!-- 		</tbody> -->
<!-- 	</table> -->
<!-- </div> -->
